.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    &__text {
      cursor: pointer;
      white-space: pre-line;
      max-width: 200px;

      &.finished {
        color: green;
        text-decoration: line-through;
      }
    }
  }
}
