.login-container {
  display: flex;
  flex-direction: column;

  width: 340px;
  margin: 20px auto 0;
  padding: 15px;

  background-color: #F5F5F5;
  border-radius: 5px;

  &__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
    text-align: center;
  }

  &__form {
    display: block;
    width: 88%;
    margin: 25px auto 0;

    &__input-field{
      width: 100%;
    }

    &__button {
      width: 100%;
      margin-top: 30px;
    }
  }
}
