<section class="todo-list-container">
  <div class="todo-list-container__create">
    <form
        #todoForm="ngForm"
        class="todo-list-container__create__form">
      <mat-form-field
        appearance="standard"
        class="todo-list-container__create__form__input-field"
        [hideRequiredMarker]="true">
        <mat-label>What needs to be done?</mat-label>
        <input
            #title="ngModel"
            matInput
            id="title"
            type="text"
            name="title"
            (keyup.enter)="title.value.length > 0 ? createTodo(todoForm): null"
            [(ngModel)]="tempTodo.title">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="todos.length > 0" class="todo-list-container__list">
    <app-todo *ngFor="let todo of todos"
              (deleteData)="deleteTodo($event)"
              (todoDataChange)="updateTodo($event)"
              [todoData]="todo">
    </app-todo>
  </div>
  <div *ngIf="todos.length ===  0" class="todo-list-container__empty-list">
    You dont have any todos
  </div>
</section>
