<section class="todo-list-container">
  <div class="todo-list-container__create">
    <form
        #todoForm="ngForm"
        class="todo-list-container__create__form">
      <mat-form-field
        appearance="standard"
        class="todo-list-container__create__form__input-field"
        [hideRequiredMarker]="true">
        <mat-label>What needs to be done?</mat-label>
        <input
            #title="ngModel"
            matInput
            id="title"
            type="text"
            name="title"
            (keyup.enter)="todoForm.valid ? createTodo(todoForm): null"
            [(ngModel)]="tempTodo.title">
      </mat-form-field>
    </form>
  </div>
  <div class="todo-list-container__list">
    <app-todo *ngFor="let todo of todos" [todoData]="todo">
    </app-todo>
  </div>
</section>
